USE [master]
GO
/****** Object:  Database [Stationery]    Script Date: 10.03.2024 21:07:43 ******/
CREATE DATABASE [Stationery]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Stationery', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Stationery.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Stationery_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Stationery_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Stationery].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Stationery]
GO
/****** Object:  Table [dbo].[Managers]    Script Date: 10.03.2024 21:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Managers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producers]    Script Date: 10.03.2024 21:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 10.03.2024 21:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[price] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Types]    Script Date: 10.03.2024 21:07:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Managers] ON 

INSERT [dbo].[Managers] ([id], [name]) VALUES (1, N'CLAAAAAy')
SET IDENTITY_INSERT [dbo].[Managers] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [name], [price]) VALUES (1, N'CLAAAAAy', 1234)
INSERT [dbo].[Products] ([id], [name], [price]) VALUES (2, N'CLAAAAAy', 1234)
INSERT [dbo].[Products] ([id], [name], [price]) VALUES (4, N'scissors', 6)
GO
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Types] ON 

INSERT [dbo].[Types] ([id], [name]) VALUES (2, N'paper')
INSERT [dbo].[Types] ([id], [name]) VALUES (3, N'CLAY')
INSERT [dbo].[Types] ([id], [name]) VALUES (4, N'CLAY')
SET IDENTITY_INSERT [dbo].[Types] OFF
GO
USE [master]
GO
